/* ELEMENTS */

select {
    border: 1px solid red;
}

button {
    background-color: var(--background-brand);
    color: var(--background-primary);
    font: var(--font-primary-label-small);
    font-weight: bold;
    padding: .5rem;
    border-radius: .2rem;
    z-index: 0;
}

button:hover {
    background-color: var(--background-highlights);
    color: var(--background-primary);
    font: var(--font-primary-label-small);
    font-weight: bold;
    padding: .5rem;
    border-radius: .2rem;
}

textarea {
    border: .7px solid var(--border-primary);
    border-radius: .2rem;
    color: var(--content-secondary);
    background-color: var(--background-primary);
    font: var(--font-primary-label-large)
}

textarea:hover {
    border: .7px solid var(--border-secondary);
    border-radius: .2rem;
    color: var(--content-secondary);
    background-color: var(--background-primary);
    font: var(--font-primary-label-large)
}

textarea:active {
    border: .7px solid var(--border-brand);
    border-radius: .2rem;
    color: var(--content-primary);
    background-color: var(--background-primary);
    font: var(--font-primary-label-large)
}

a {
    color: var(--content-tertiary);
    text-decoration: none;
    font: var(--font-primary-label-large);
}

a:hover {
    color: var(--content-primary);
    font: var(--font-primary-label-large);
}  

select {
    color: var(--content-secondary);
    background-color: var(--background-secondary);
    border: 1px solid var(--content-secondary);
    border-radius: .2rem;
    padding: .2rem;
}